In [1]:
import numpy as np

scores = np.random.randint(50, 101,size=(50, 5))
scores

array([[ 51,  63,  83,  77,  72],
       [ 89,  50,  63,  69,  87],
       [ 63,  52,  91,  70,  92],
       [ 73,  83, 100,  68,  99],
       [ 57,  51, 100,  73,  58],
       [ 78,  70,  54,  65, 100],
       [ 69,  87,  63,  56,  53],
       [ 75,  93,  63,  52,  89],
       [ 96,  75,  68,  90,  85],
       [ 70,  77,  75,  56,  71],
       [ 50,  60,  89,  71,  88],
       [ 57,  73,  99,  51,  74],
       [ 55,  64,  93,  98,  88],
       [ 62,  55,  77,  95,  64],
       [ 88,  89,  81,  79,  89],
       [ 52,  67,  59,  61,  55],
       [ 82,  87,  70,  76,  56],
       [ 54,  85,  76,  96,  95],
       [ 87,  96,  88,  60,  85],
       [ 77,  66,  61,  66,  63],
       [ 58,  75,  85,  79,  94],
       [ 78,  57,  54,  70,  58],
       [ 89,  52,  75,  86,  80],
       [ 94, 100,  63,  78,  72],
       [ 96,  85,  64,  83,  81],
       [ 66,  69,  60,  98,  90],
       [ 56,  83,  70,  73,  74],
       [ 52,  61,  86,  67,  73],
       [ 78,  51,  75,  50,  98],
       [ 60,  56,  52,  53,  65],
       [ 79,  62,  84,  92,  79],
       [ 78,  54,  96,  78,  52],
       [ 95,  95,  50,  53,  71],
       [ 79,  56,  55,  97,  73],
       [ 55,  87,  98,  54, 100],
       [ 63,  89,  65, 100,  66],
       [ 78,  83,  99,  60,  51],
       [ 86,  54, 100,  83,  56],
       [ 92,  89,  52,  75,  99],
       [ 72,  57,  93,  74,  92],
       [ 91,  68,  59,  53,  50],
       [ 73,  58,  52,  65,  55],
       [ 55,  73,  77,  90,  82],
       [ 55,  85,  84,  66,  58],
       [ 83,  63,  52,  99,  53],
       [ 62,  84,  55,  74,  50],
       [ 80,  55,  90,  61,  93],
       [ 64,  71,  82,  79,  96],
       [ 89,  94,  91,  74,  87],
       [ 95,  53,  86,  59,  89]], dtype=int32)

In [2]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文","英文","數學","地理","歷史"]
)
df

      國文   英文   數學   地理   歷史
學生1   51   63   83   77   72
學生2   89   50   63   69   87
學生3   63   52   91   70   92
學生4   73   83  100   68   99
學生5   57   51  100   73   58
學生6   78   70   54   65  100
學生7   69   87   63   56   53
學生8   75   93   63   52   89
學生9   96   75   68   90   85
學生10  70   77   75   56   71
學生11  50   60   89   71   88
學生12  57   73   99   51   74
學生13  55   64   93   98   88
學生14  62   55   77   95   64
學生15  88   89   81   79   89
學生16  52   67   59   61   55
學生17  82   87   70   76   56
學生18  54   85   76   96   95
學生19  87   96   88   60   85
學生20  77   66   61   66   63
學生21  58   75   85   79   94
學生22  78   57   54   70   58
學生23  89   52   75   86   80
學生24  94  100   63   78   72
學生25  96   85   64   83   81
學生26  66   69   60   98   90
學生27  56   83   70   73   74
學生28  52   61   86   67   73
學生29  78   51   75   50   98
學生30  60   56   52   53   65
學生31  79   62   84   92   79
學生32  78   54   96   78   52
學生33  95   95   50   53   71
學生34  79   56   55   97   73
學生35  55   87   98   54  100
學生36  63   89   65  100   66
學生37  78   83   99   60   51
學生38  86   54  100   83   56
學生39  92   89   52   75   99
學生40  72   57   93   74   92
學生41  91   68   59   53   50
學生42  73   58   52   65   55
學生43  55   73   77   90   82
學生44  55   85   84   66   58
學生45  83   63   52   99   53
學生46  62   84   55   74   50
學生47  80   55   90   61   93
學生48  64   71   82   79   96
學生49  89   94   91   74   87
學生50  95   53   86   59   89