In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.625614 -1.027170
1    a  two -0.907969 -0.097489
2    b  one -0.209190  1.014104
3    b  two  0.120974  1.096963
4    a  one -0.575728 -0.727860

In [5]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean() #Series執行Groupby後計算平均

0   -0.625614
1   -0.907969
2   -0.209190
3    0.120974
4   -0.575728
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a   -0.703104
b   -0.044108
Name: data1, dtype: float64

In [ ]:
df['data1'].groupby(df['key1']).agg(['mean', 'std']) #Series執行Groupby後計算平均與標準差

          mean       std
key1
a    -0.703104  0.179163
b    -0.044108  0.233461

In [10]:
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean

key1  key2
a     one    -0.600671
      two    -0.907969
b     one    -0.209190
      two     0.120974
Name: data1, dtype: float64

In [12]:
mean.unstack().stack()

key1  key2
a     one    -0.600671
      two    -0.907969
b     one    -0.209190
      two     0.120974
dtype: float64