In [3]:
import yfinance as yf

ticker = yf.Ticker("2330.TW")  # 台積電台股代號加上.TW
df = ticker.history(period="max")  # 取得全部歷史資料
print(df.head())

                                Open       High        Low      Close  \
Date
2000-01-04 00:00:00+08:00  33.784500  33.784500  33.215103  33.784500
2000-01-05 00:00:00+08:00  33.784504  34.543640  33.404845  34.543640
2000-01-06 00:00:00+08:00  34.353897  34.543636  33.784500  33.784500
2000-01-07 00:00:00+08:00  32.645703  33.215100  32.266044  32.835442
2000-01-10 00:00:00+08:00  33.784501  34.163978  33.215103  33.974239

                                 Volume  Dividends  Stock Splits
Date
2000-01-04 00:00:00+08:00  200662336736        0.0           0.0
2000-01-05 00:00:00+08:00  402466805912        0.0           0.0
2000-01-06 00:00:00+08:00  197545715802        0.0           0.0
2000-01-07 00:00:00+08:00  235270344752        0.0           0.0
2000-01-10 00:00:00+08:00  276171685539        0.0           0.0

In [4]:
import yfinance as yf
# 取得 2024 年（1/1 起至 2025/1/1 不含）的台積電交易日資料
df_2024 = ticker.history(start="2024-01-01", end="2025-01-01")
df_2024

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-02 00:00:00+08:00,575.038903,577.962830,574.064261,577.962830,26059058,0.0,0.0
2024-01-03 00:00:00+08:00,569.191116,570.165758,561.393977,563.343262,37106763,0.0,0.0
2024-01-04 00:00:00+08:00,565.292480,566.267123,562.368554,565.292480,15309129,0.0,0.0
2024-01-05 00:00:00+08:00,563.343205,565.292490,559.444636,561.393921,18158971,0.0,0.0
2024-01-08 00:00:00+08:00,567.241788,570.165715,564.317862,568.216431,17761275,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-25 00:00:00+08:00,1080.358973,1080.358973,1070.447423,1075.403198,15481622,0.0,0.0
2024-12-26 00:00:00+08:00,1075.403198,1080.358973,1075.403198,1075.403198,14374900,0.0,0.0
2024-12-27 00:00:00+08:00,1070.447337,1085.314661,1070.447337,1080.358887,24948385,0.0,0.0
2024-12-30 00:00:00+08:00,1080.358887,1085.314661,1075.403112,1080.358887,23954634,0.0,0.0
2024-12-31 00:00:00+08:00,1070.447352,1075.403127,1065.491577,1065.491577,28397820,0.0,0.0

In [6]:
import yfinance as yf
#台積電(2330.TW),聯電(2303.TW),聯發科(2454.TW),鴻海(2317.TW)
#取得所有 2024 年（1/1 起至 2025/1/1 不含)
tickers = ["2330.TW", "2303.TW", "2454.TW", "2317.TW"]
data = {}
for ticker in tickers:
    stock = yf.Ticker(ticker)
    df = stock.history(start="2024-01-01", end="2025-01-01")
    data[ticker] = df
data["2330.TW"]["Close"]  # 顯示台積電的資料

Date
2024-01-02 00:00:00+08:00     577.962830
2024-01-03 00:00:00+08:00     563.343262
2024-01-04 00:00:00+08:00     565.292480
2024-01-05 00:00:00+08:00     561.393921
2024-01-08 00:00:00+08:00     568.216431
                                ...
2024-12-25 00:00:00+08:00    1075.403198
2024-12-26 00:00:00+08:00    1075.403198
2024-12-27 00:00:00+08:00    1080.358887
2024-12-30 00:00:00+08:00    1080.358887
2024-12-31 00:00:00+08:00    1065.491577
Name: Close, Length: 242, dtype: float64

In [9]:
#data有四檔股票的2024年交易日資料,我需要每一個的收盤價,最後產生一個DataFrame
import pandas as pd
close_prices = {ticker: df["Close"] for ticker, df in data.items()} # 使用字典生成式
close_prices_df = pd.DataFrame(close_prices)
close_prices_df.columns = ["台積電", "聯電", "聯發科", "鴻海"]
close_prices_df

                                   台積電         聯電          聯發科          鴻海
Date
2024-01-02 00:00:00+08:00   577.962830  46.182152   898.153076   98.787247
2024-01-03 00:00:00+08:00   563.343262  45.025372   872.517639   98.316833
2024-01-04 00:00:00+08:00   565.292480  45.203339   872.141724   97.846420
2024-01-05 00:00:00+08:00   561.393921  45.203339   865.563049   97.846420
2024-01-08 00:00:00+08:00   568.216431  44.936390   864.623230   95.494339
...                                ...        ...          ...         ...
2024-12-25 00:00:00+08:00  1075.403198  41.378731  1354.440308  179.964066
2024-12-26 00:00:00+08:00  1075.403198  41.049957  1364.046265  180.929031
2024-12-27 00:00:00+08:00  1080.358887  40.956017  1373.652222  179.964066
2024-12-30 00:00:00+08:00  1080.358887  40.486340  1364.046265  178.516632
2024-12-31 00:00:00+08:00  1065.491577  40.439373  1359.243286  177.551682

[242 rows x 4 columns]

In [8]:
my_dict = {'name': 'Alice', 'age': 25}
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 25